<div class="video-container">
    <video class="background-video" autoplay loop muted>
      <source src="./../../../../assets/video/trabajaconnosotros.mp4" type="video/mp4">
      Tu navegador no admite el elemento de video.
    </video>
    <div class="content-box">
      <h2>Trabaja con nosotros</h2>
      <p>MEDICARD invita a emprendedores a formar parte del equipo de ejecutivos comerciales generando utilidades que oscilan entre los 2 mil y los 10 mil bolivianos por mes. Los interesados pueden hacer clic en el siguiente botón.</p>
      <a href="https://wa.me/59162679734" target="_blank" class="whatsapp-button">Abrir Chat de WhatsApp</a>
        </div>
  </div>
  