<!-- En el template de tu componente -->
<div class="container">
    <div class="column">
      <h2>Trabaja con Nosotros - Instituciones</h2>
      <p>
        Si deseas que tu institución y sus trabajadores cuenten con la protección, cobertura y los mejores descuentos en el área de la salud, comunícate con nuestro Call Center 77484800 las 24 horas del día y un ejecutivo se comunicará con tu empresa.
      </p>
      <button (click)="contactarInstituciones()">Contactar</button>
    </div>
  
    <div class="column">
      <h2>Trabaja con Nosotros - Ejecutivos</h2>
      <p>
        Si deseas adquirir nuestra tarjeta, te dejamos la lista de nuestros ejecutivos de venta a nivel nacional.
      </p>
      <button (click)="contactarEjecutivos()">Ver Ejecutivos</button>
    </div>
  </div>
  