/* Estilos para tabletas y móviles */
@media (max-width: 1314px) {
  .navbar {
    padding: 15px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 70%;
    padding: 10px;
    border-radius: 8px;
  }

  .menu li {
    list-style: none; /* Elimina los puntos redondos de la lista */
    margin-bottom: 10px; /* Agrega espacio entre elementos del menú */
  }

  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
    display: block;
    padding: 10px 0;
  }

  .menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .menu a:hover {
    color: #42BAC1;
  }

  .menu a:hover::before {
    transform: scaleX(1);
    background-color: #42BAC1;
  }

  .menu > li {
    position: relative;
  }

  .menu > li:hover .submenu {
    display: block;
  }

  .submenu {
    position: relative;
    top: 0;
    left: 0%;
    display: none;
    background-color: #e7282b17;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
  }

  .submenu li {
    margin: 0;
  }

  .submenu a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    display: block;
  }

  .submenu a:hover {
    background-color: #42BAC1;
    color: #fff;
  }

  .hamburger-menu {
    display: block;
    position: relative;
    float: right;
  }

  .hamburger-icon {
    font-size: 7.5vw;
    color: #E7282A;
    cursor: pointer;
  }

  .menu.active {
    display: block;
  }

  .navbar-left {
    flex-grow: 1;
  }

  .navbar img {
    width: 50%;
    max-width: 400px;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: -18px;
  }

  .btn-registrarse,
  .btn-usuario {
    background-color: #E7282A;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

  .btn-registrarse:hover,
  .btn-usuario:hover {
    background-color: #3CA9B9;
  }
}

/* Estilos para PCs */
@media (min-width: 1315px) {
  /* Agrega estilos para pantallas de PCs */

  .hamburger-menu{
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px); /* Reducir el ancho total en 100px (50px en cada lado) */
    padding: 10px 50px; /* Agregar relleno de 10px en la parte superior e inferior y 50px en cada lado */
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar img {
    height: 40px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}

.menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.menu a:hover {
    color: #42BAC1;
}

.menu a:hover::before {
    transform: scaleX(1);
    background-color: #42BAC1;
}

.menu > li {
    position: relative; /* Agrega esta regla para que los submenús estén alineados correctamente */
}

.menu > li:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.submenu li {
    margin: 0;
}

.submenu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.submenu a:hover {
    background-color: #42BAC1;
    color: #fff;
}

.navbar-center {
    position: relative;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.btn-registrarse,
.btn-usuario {
    background-color: #42BAC1;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.btn-registrarse:hover,
.btn-usuario:hover {
    background-color: #3CA9B9;
}

}


