    <div class="main-content">
    <!-- Sección con color sólido -->
    <div class="solid-section">
      <h2 class="title" >Conoce Nuestras Instituciones en Cochabamba</h2>
      <p>Los mejores descuentos te los ofrece nuestras instituciones</p>
    </div>
  
    <!-- Sección de rectángulos -->
    <div class="rectangles-section">
        <div class="rectangle">
            <!-- Contenido del rectángulo -->
            <img src="./../../../../../../assets/instituciones/cbba/los-lirios.jpg" alt="Foto 1">
            <p class="gray-text">Clinica</p>
            <h2>Los Lirios</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/LIRIOS2.pdf">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/CAO.jpg" alt="Foto 1">
            <p class="gray-text">Ofmatologico</p>
            <h2>C.A.O.</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/CAO.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/coldent.png" alt="Foto 1">
            <p class="gray-text">Odontologia</p>
            <h2>coldent</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/cold.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/Marbella.jpg" alt="Foto 1">
            <p class="gray-text">Laboratorio</p>
            <h2>Marbella</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/marbella.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/red.jpg" alt="Foto 1">
            <p class="gray-text">Emergencias</p>
            <h2>RED</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/redenfermeria.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/rehabilito.jpg" alt="Foto 1">
            <p class="gray-text">Fisioterapia</p>
            <h2>Rehabilito</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/Rehabilito.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>

          <div class="rectangle">
            <img src="./../../../../../../assets/instituciones/cbba/Unimagen.jpg" alt="Foto 1">
            <p class="gray-text">Laboratorio</p>
            <h2>Unimagen</h2>
            <p>Descripción del Rectángulo 1.</p>
            <!-- Agrega iconos de redes sociales y teléfono -->
            <div class="social-icons">
              <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/unimagen.pdf" target="_blank">Abrir PDF</a>

              <a href="https://www.facebook.com/CAO-Cl%C3%ADnica-123456789" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/caoclinica" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://wa.me/77484800" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
            </div>
          </div>
          
      <!-- Repite para los otros rectángulos -->
    </div>
  </div>
  