<div class="container">
    <div class="image-container">
      <img src="https://images01.nicepage.com/c461c07a441a5d220e8feb1a/214d92a94e895cdbafb0ad24/cvr4-min.jpg" alt="Imagen">
    </div>
    <div class="content-container">
      <div class="rounded-box">
        <h3>Los mejores descuentos</h3>
        <h2 class="title">Con <a class="blue">MEDI</a> <a class="red">CARD</a></h2>
        <p class="paragraph">Explora Nuestros Increíbles Descuentos: Ahorra Grandemente en una Variedad de Servicios Médicos con Medicard. Tu Camino hacia un Cuidado Más Asequible y Completo.</p>
      </div>
    </div>
  </div>
  
  <div class="main-content">
    <!-- Sección con color sólido -->
    <div class="solid-section">
      <h2 class="title" style="color: white;">Conoce Nuestras Instituciones en Cochabamba</h2>
      <p style="color: white;" >Los mejores descuentos te los ofrece nuestras instituciones</p>
    </div>
  
    <!-- Sección de rectángulos -->
    <div class="rectangles-section">
        <div class="rectangle">
            <!-- Contenido del rectángulo -->
            <img src="./../../../../assets/clinicas-cochabamba/los-lirios.jpg" alt="Foto 1">
            <p class="gray-text">Clinica</p>
            <h2>Los Lirios</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/LIRIOS2.pdf">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/CAO.jpg" alt="Foto 1">
            <p class="gray-text">Ofmatologico</p>
            <h2>C.A.O.</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/CAO.pdf" target="_blank">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/coldent.png" alt="Foto 1">
            <p class="gray-text">Odontologia</p>
            <h2>coldent</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/cold.pdf" target="_blank">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/Marbella.jpg" alt="Foto 1">
            <p class="gray-text">Laboratorio</p>
            <h2>Marbella</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/marbella.pdf" target="_blank">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/red.jpg" alt="Foto 1">
            <p class="gray-text">Emergencias</p>
            <h2>RED</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/redenfermeria.pdf" target="_blank">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/rehabilito.jpg" alt="Foto 1">
            <p class="gray-text">Fisioterapia</p>
            <h2>Rehabilito</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/Rehabilito.pdf" target="_blank">Abrir PDF</a>
          </div>

          <div class="rectangle">
            <img src="./../../../../assets/clinicas-cochabamba/Unimagen.jpg" alt="Foto 1">
            <p class="gray-text">Laboratorio</p>
            <h2>Unimagen</h2>
            <p>Descripción del Rectángulo 1.</p>
            <a class="pdf-button modal-link" href="https://medicard.com.bo/archivos/unimagen.pdf" target="_blank">Abrir PDF</a>
          </div>
          
      <!-- Repite para los otros rectángulos -->
    </div>
  </div>
  