<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
          <li><a href="mailto:info@medicard.com.bo">info@medicard.com.bo</a></li><br>
          <li><a href="tel:+591-77484800">77484800</a></li><br>
          <li><a href="#">Dirección:<br>Policonsultorio MEDICARD y Clínica los Lirios Colombia entre Belzu y calle Jose Pol</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Servicios</h3>
        <ul>
          <li><a href="#">Terminos & Condiciones</a></li>
          <li><a href="#">Politica de Privacidad</a></li>
          <li><a href="#">Servicios</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <ul>
          <li><a href="https://www.facebook.com/tudominio" target="_blank">Facebook</a></li>
          <li><a href="https://www.twitter.com/tudominio" target="_blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/tudominio" target="_blank">Instagram</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Acerca de Nosotros</h3>
        <p>Contando con esta tarjeta podrás acceder a descuentos en clínicas y centros de salud asociados.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p><a class="blue">MEDI</a> <a class="red">CARD</a> © 2023. Todos los derechos reservados.  -  Desarrollado y Diseñado por <a class="blue">EMV Soft</a> </p>
    </div>
  </footer>
  