<app-menu-cochabamba></app-menu-cochabamba>
<div class="home-container">
    <div class="home-content">
      <div class="column cream-bg">
        <div class="content">
          <h2>Cuida tu salud y bolsillo con <a class="blue">MEDI</a> <a class="red">CARD</a></h2>
          <p>Adquiriendo tu tarjeta Medicard, podrás acceder a descuentos en hospitales, clínicas, centros de salud y consultorios privados en todas las especialidades a nivel nacional. El registro es muy sencillo. Te invitamos a que seas uno de nuestros beneficiarios.</p>
          <br>
          <p class="p-b">¿Ya tienes tu tarjeta? </p>
          <button>Compruebalo</button>
          
        </div>
      </div>
      <!-- COlumna Lila-->
      <div class="column lilac-bg">
        <!-- Contenido de la columna 2 -->
        <video class="centered-video" controls autoplay loop muted>
            <source src="./../../../../../assets/video/MedicardPost.mp4" type="video/mp4">
            Tu navegador no admite el elemento de video.
          </video>
      </div>
    </div>
    
    <!--Seccion beneficios-->
    <div class="beneficios-container">
      <h1 class="beneficios-title">Beneficios <a class="blue">MEDI</a> <a class="red">CARD</a></h1>
      <p class="beneficios-subtitle"><a class="blue">MEDI</a> <a class="red">CARD</a> es la primera tarjeta en Bolivia que cuenta con beneficios y descuentos médicos, en las mejores clínicas privadas del país.</p>
      <div class="beneficios-row">
        <div class="beneficios-item">
          <div class="beneficios-circle">1</div>
          <h2 class="beneficios-list-title">Hasta 70%</h2>
          <p class="beneficios-list-description">De descuento en la atención de consulta médica privada y con tratamiento ambulatorio en todas las especialidades médicas clínicas.</p>
        </div>
        <div class="beneficios-item">
          <div class="beneficios-circle">2</div>
          <h2 class="beneficios-list-title">Hasta 30%</h2>
          <p class="beneficios-list-description">De descuento en la internación hospitalaria médica y que necesiten cirugías.</p>
        </div>
      </div>
      <div class="beneficios-row">
        <div class="beneficios-item">
          <div class="beneficios-circle">3</div>
          <h2 class="beneficios-list-title">Hasta 70 % </h2>
          <p class="beneficios-list-description">De descuento en las emergencias médicas que sean atendidas por nuestro personal de Ambulancia, Enfermería y Medicina General las 24 horas del día, los 365 días del año.</p>
        </div>
        <div class="beneficios-item">
          <div class="beneficios-circle">4</div>
          <h2 class="beneficios-list-title">Hasta 70 % </h2>
          <p class="beneficios-list-description">De descuento en las siguientes pruebas y/o exámenes.</p>
        </div>
      </div>
      <button>Ver Mas</button>
    </div>
    
    <!--Seccion carrousel asociados-->
    <br>
    <app-image-slider></app-image-slider>

    
</div>
      