<div class="container-all">
<div class="container">
    <div class="video-container">
        <video controls muted >
            <source src="./../../../../../assets/video/MedicardHome.mp4" type="video/mp4">
            Tu navegador no admite el elemento de video.
        </video>
    </div>
    
    <div class="content-container">
      <div class="rounded-box">
        <h2 class="title">Los mejores descuentos Con <a class="">MEDI</a> <a class="">CARD</a></h2>
        <p class="paragraph">Adquiriendo tu tarjeta Medicard, podrás acceder a descuentos en hospitales,
             clínicas, centros de salud y consultorios privados en todas las especialidades 
             a nivel nacional. El registro es muy sencillo. 
             Te invitamos a que seas uno de nuestros beneficiarios.</p>
      </div>
    </div>
  </div>

  <div class="descuentos-section">
    <div class="descuento-item">
        <h3 class="title">Consultas en oncología y tratamientos oncológicos.</h3>
    </div>
    <div class="descuento-item">
        <h3 class="title">Descuentos en oftalmología y odontología.</h3>
    </div>
    <div class="descuento-item">
        <h3 class="title">Descuentos en cirugías en general y tratamientos estéticos.</h3>
    </div>
    <div class="descuento-item">
        <h3 class="title">Descuentos en laboratorios inmunobacteriológicos y de diagnóstico por imagen.</h3>
        <!-- <p class="description">Descripción del descuento 4.</p> -->
    </div>
</div>

<div class="about-section">
    <div class="about-content">
        <img class="red-image" src="./../../../../../assets/chicatarjeta-sinfondo.png" alt="Imagen chica">
      <div class="red-rectangle">
        <h3>ACERCA DE NOSOTROS</h3>
        <p>MEDICARD es la primera tarjeta de descuentos en el área de la salud. 
            Nuestra intención es que todas las personas tengan acceso a la salud con los precios más bajos del país, 
            tanto en consultas privadas con especialistas como en las mejores clínicas de Bolivia.
        </p>
      </div>
      <div class="blue-rectangle">
        <img class="blue-image" src="" alt="Imagen chica">
        <div class="blue-text">
            <h3>Como Funciona</h3>
            <p>Adquiere tu tarjeta de descuentos MEDICARD a través de nuestros ejecutivos de venta a nivel nacional o 
                contáctate con nuestro Call Center al 7748-4800. Ingresa a nuestra página web www.medicard.com.bo, haz clic en el botón de 'Regístrate', 
                introduce tus datos y el código de tu tarjeta, ¡y listo! Comienza a beneficiarte de inmediato de nuestra red de descuentos en todo el país.
            </p>
        </div> 
      </div>
    </div>
  </div>
  
  <div class="mission-vision-history-section">
    <div class="mvh-items">
        <div class="mvh-item">
            <div class="circle-icon">
                <i class="fas fa-rocket"></i>
            </div>
            <h3 class="mvh-item-title">Misión</h3>
            <p class="mvh-item-description">En Medicard, nuestra mision es brindar
                 acceso a servicios medicos de calidad
                  a precios asequibles, mejorando asi la
                calidad de vida de las personas. A
                traves de nuestras tarjetas de 
                descuento medico, nos esforzamos
                por ser la solucion que une la excelencia medica con la accesibilidad 
                financiera.</p>
        </div>
        <div class="mvh-item">
            <div class="circle-icon">
                <i class="fas fa-eye"></i>
            </div>
            <h3 class="mvh-item-title">Visión</h3>
            <p class="mvh-item-description">Nuestra visión en Medicard es ser la opción preferida de aquellos que buscan atención médica de calidad sin sacrificar sus finanzas. Aspiramos a ser líderes en la industria de la atención médica, conectando a las personas con servicios médicos excepcionales y promoviendo un enfoque preventivo en la salud.</p>
        </div>
        <!-- Agrega más elementos mvh-item si es necesario -->
    </div>
</div>
</div>