<!-- navbar.component.html -->

<div class="sidebar">
    <div class="logo">
      <!-- Inserta aquí el código para mostrar tu logo -->
      <!-- Por ejemplo, puedes usar una etiqueta <img> -->
      <img src="./../../../../assets/logo/logo-medicard.png" alt="Logo Medicard">
    </div>
    <div class="menu-label">Menú</div>
    <ul class="nav-menu">
      <li class="nav-item">
        <i class="fas fa-home"></i>
        <a href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-gift"></i>
        <a routerLink="/descuentos">Nuestros Descuentos</a>
      </li>
      <!--<li class="nav-item">
        <i class="fas fa-question-circle"></i>
        <a routerLink="/descuentos">Acerca de nosotros</a>
      </li>-->
      <li class="nav-item">
        <i class="fas fa-mobile-alt"></i>
        <a href="#">Descarga nuestra app</a>
      </li>
      <!-- Agrega más elementos del menú aquí -->
    </ul>
    <div class="menu-label">Organización</div>
    <ul class="nav-menu">
      <!-- <li class="nav-item">
        <i class="fas fa-users"></i>
        <a href="#">Se parte de Medicard</a>
      </li>-->
      <li class="nav-item">
        <i class="fas fa-users"></i>
        <a routerLink="/trabaja-con-nosotros">Trabaja con nosotros</a>
      </li>
    </ul>

    <div class="help-container">
        <div class="help-content">
          <h1 class="help-headline">Centro de ayuda</h1>
          <p class="help-body">¿Tienes problemas con Medicard?</p>
          <button class="help-button">Ir al Centro de ayuda</button>
        </div>
      </div>
      
  </div>
  